<div class="nav-head">
    <ul class="nav justify-content-around ">
      <li class="nav-item nav-tab">
        <a class="nav-link active" aria-current="page" href="/club/SDC" value="SDC">SDC</a>
      </li>
      <li class="nav-item nav-tab">
        <a class="nav-link" href="/club/Photography Club" value="Photography Club">Photography Club</a>
      </li>
      <li class="nav-item nav-tab">
        <a class="nav-link" href="/club/Cultural Club">Cultural Club</a>
      </li>
      <li class="nav-item nav-tab">
        <a class="nav-link" href="/club/Android Application Development Club">Android Application Development Club</a>
      </li>
      <li class="nav-item nav-tab">
        <a class="nav-link" href="/club/English Proficiency Club">English Proficiency Club</a>
      </li>
      <li class="nav-item nav-tab">
        <a class="nav-link" href="/club/Srinivasa Ramanujan Mathematics Club">Srinivasa Ramanujan Mathematics Club</a>
      </li>
      <li class="nav-item nav-tab">
        <a class="nav-link" href="/club/Tamil Mandram">Tamil Mandram</a>
      </li>

    </ul>
  </div>
