<footer > 
        <div class="py-3 ml-4  d-flex justify-content-evenly flex-wrap " >
        
            <span id="res" style="font-size: small ;">Copyright © <big>Kec</big> <span class="year">2022</span> |
                All
                Rights Reserved</span>
        </div>
</footer>