<%- layout("boiler")-%>
<%- include("nav")-%>
<%- include("flash")-%>

<link rel="stylesheet" href="/css/preloader.css">
<div id="preloader">
  <div class="container1">  
    <img src="https://static.wixstatic.com/media/dea926_fc1e0f87b7314fc9be94826a3460252e.gif"></img>
  </div>
  <div class="part1 ">
    Transform Yourself
  </div> 

  <div class="loader">
    <div class="loading">
    </div>
  </div>
</div>
<link rel="stylesheet" href="/css/login.css">

 <div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="my-4">RESET</h2>
          <form action="/forgotten-password" class="needs-validation" method="post" novalidate>
            <input type="email" id="email" class="fadeIn second  px-3 form-control" name="email" placeholder="Enter Mail ID" required>
            <input type="submit" class="fadeIn fourth" value="RESET">
          </form>
        
    </div>
  </div>

  
  <%- include("footer") -%> 
  
  <script src="/js/validation.js"></script>
  
  
  <script>
    let spinnerWrapper = document.querySelector('#preloader');
  
    window.addEventListener('load', function () {
         spinnerWrapper.style.display = 'none';
        spinnerWrapper.parentElement.removeChild(spinnerWrapper);
    });
  </script>