
<%- layout("boiler")-%>
<%- include("nav")-%>
<%- include("flash")-%>
<link rel="stylesheet" href="css/login.css">

<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="my-4">Sign Up</h2>
          <form action="/signUp" class="needs-validation" method="post" novalidate>
            <input type="text" id="name" class="fadeIn second  px-3 m-3 form-control" name="name" placeholder="Enter Your Name" required>  
            <input type="email" id="username" class="fadeIn second  px-3 m-3 form-control" name="username" placeholder="Enter Mail ID" required>
            <input type="text" id="RollNumber" class="fadeIn second  px-3 m-3 form-control" name="rollno" placeholder="Enter your Roll Number" required>
            <input type="text" id="department" class="fadeIn second  px-3 m-3 form-control" name="department" placeholder="Enter your Department" required>

            <input type="password" id="password" class="fadeIn third px-3 m-3 form-control" name="password" placeholder="Enter Password" required>
            <input type="password" id="password" class="fadeIn third px-3 m-3 form-control" name="confirm_password" placeholder="Confirm Password" required>
            <input type="submit" class="fadeIn fourth" id="sign" value="Sign Up">
          </form>
          <div id="formFooter">
        <a class="underlineHover" href="./login">LogIn</a>
          </div>
    </div>
  </div>
  <footer>
    <div class="py-3 ml-4  d-flex justify-content-evenly flex-wrap " >   
        <span id="res" style="font-size: small ;">Copyright © <big>Kec</big> <span class="year">2022</span> |
            All
            Rights Reserved</span>
    </div>
</footer>


  <script src="/js/validation.js"></script>
